#books {
  padding-top: 112px;
  .books {
    &__block {
      display: flex;
      justify-content: space-between;
      align-items: center;
      h1 {
        color: #19272e;
        text-align: center;
        font-size: 48px;
        font-weight: 500;
      }
      a {
        color: #818eea;
        text-align: center;
        font-size: 18px;
        font-weight: 500;
      }
    }
    &__img {
      padding-top: 64px;
      display: flex;
      gap: 40px;
      overflow-x: scroll;
      &::-webkit-scrollbar {
        display: none;
      }
      img {
        width: 200px;
        // width: 100%;
      }
      p {
        color: #19272e;
        font-size: 18px;
        font-weight: 700;
        text-transform: uppercase;
        padding: 8px 0;
      }
      span {
        color: #19272e;
        font-size: 18px;
        font-weight: 400;
      }
    }
  }
}
@media (max-width: 700px) {
  #books {
    .books {
      &__block {
        h1 {
          font-size: 38px;
        }
      }
    }
  }
}
