#ourBokshop {
  background-image: url(../../../img/ourBookshop.png);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 640px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .ourBokshop {
    h1 {
      color: #fff;
      font-size: 48px;
      font-weight: 700;
    }
    p {
      text-align: center;
      padding-top: 16px;
      color:#19272e;
      font-size: 18px;
      font-weight: 400;
    }
  }
}
